@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes slide-down-fade-in {
    from {
      opacity: 0;
      transform: translateY(-20px) translateX(-50%);
    }

    to {
      opacity: 1;
      transform: translateY(0) translateX(-50%);
    }
  }

  @keyframes slide-up-fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-up-fade-out {
    from {
      opacity: 1;
      transform: translateY(0) translateX(-50%);
    }

    to {
      opacity: 0;
      transform: translateY(-20px) translateX(-50%);
    }
  }

  .animate-slide-down-fade-in {
    animation: slide-down-fade-in 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }

  .animate-slide-up-fade-in {
    animation: slide-up-fade-in 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }

  .animate-slide-up-fade-out {
    animation: slide-up-fade-out 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }
}